h1 {
    color: orange;
    font-size: 2em;
}

h2 {
    color:skyblue;
    font-size: 1.5em;
}

p {
    color: black;
}

li {
    color: magenta;
    list-style-type: none;
}

li.special, 
span.special {
    color: orange;
    font-weight: bold;
}

